.flex-row {
	text-align: center;
	display: flex;
	flex-flow: row;
}

.page {
	max-width: 100%;
}

.preview {
	max-height: 256px;
	max-width: calc(10% - 16px);
	display: flex;
	flex-flow: column;
	padding: 8px;
	transition: 0.3s;
}

.preview img {
	border-radius: 10px;
}

.preview:hover {
	max-height: 320px;
	max-width: calc(10%);
}

body {
	background: black;
	color: white;
	margin: 0;
}

a {
	font-size: xx-large;
	font-family: system-ui;
	text-decoration: none;
	color: white;
}